* {
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ears{
    width: 90px;
    height: 140px;
    position: absolute;
    background-color: black;
    top: 50px;
}

.ear-left{
    transform: skewY(20deg);

}

.ear-right{
    right: 0;
    transform: skewY(-20deg);
}

/* earholes */

.hole{
    position: absolute;
    bottom: 30px;
    left: 15px;
    background-color: white;
    width: 50px;
    height: 60px;
}

.hole::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: gray;
    width: 35px;
    height: 35px;
}

.ears::before{
    content: '';
    width: 88px;
    height: 15px;
    background-color: white;
    position: absolute;
    left: 1px;
    top: 1px;
}

/* head styling */

.b-head{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    background-color: #fff;
    transform: rotate(45deg);
    position: relative;
    overflow: hidden;
}

/* eye styling */
.eye{
    position: absolute;
    width: 30px;
    height: 30px;
    
    right: 75px;
    background-color: white;
    z-index: 100;
    border: 1px solid black;
}

.right-eye{
    right: 75px;
    top: 100px;
}

.left-eye{
    left: 100px;
    top: 190px;
}

/* iris */

.right-eye::after{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    top: 15px;
    left: 10px;
    background-color: black;
    z-index: 110;
}

/* face-line */

.right-eye::before{
    content: '';
    width: 5px;
    height: 120px;
    background-color: gray;
    position: absolute;
    top: 30px;
    left: 35px;
    transform: rotate(120deg);
}

.left-eye::before{
    content: '';
    width: 5px;
    height: 120px;
    background-color: gray;
    position: absolute;
    top: -25px;
    left: 90px;
    transform: rotate(155deg);
}

/* iris */

.left-eye::after{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    top: 15px;
    left: 10px;
    background-color: black;
    z-index: 110;
}

/* stripes */

.stripe{
    width: 80px;
    height: 320px;
    background-color: black;
    transform: rotate(-45deg);
    position: absolute;
    left: 40px;
    top: 55px;
    box-shadow: 190px 0 black;
}

.stripe::before{
    content: '';
    background-color: #fff;
    width: 50px;
    height: 320px;
    position: absolute;
    transform: rotate(-15deg);
    left: -25px;
}

.stripe::after{
    content: '';
    background-color: #fff;
    width: 50px;
    height: 320px;
    position: absolute;
    transform: rotate(15deg);
    background-color: #fff;
    left: 245px;
}

/* snot */

.nose{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    background-color: rgb(59, 59, 59);
}

/* holes */

.nose::before{
    content: '';
    width: 5px;
    height: 10px;
    position: absolute;
    background-color: black;
    left: 35px;
    top: 15px;
    box-shadow: 0 25px black;
    transform: rotate(45deg);
}

.nose::after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: black;
    top: -5px;
    left: -5px;
    z-index: -100;
}